/* #region reset */
* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "palanquin";
  color: #363534;
}
/* #endregion */

/* #region base */

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

button {
  cursor: pointer;
  padding: 0;
}

/* #endregion */

/* #region header */
.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 128px;

  background-color: var(--bar-color);
}

.main-header-content {
  display: flex;
  justify-content: space-between;
  padding-inline: var(--content-padding);
  width: 100%;
}

/* #endregion */

/* #region hero */

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-inline: var(--content-limitation);
  padding-bottom: 78px;
}

.hero-brand-area {
  position: relative;
  height: 432px;
  width: 100%;
  margin: 0px var(--content-limitation);
  background-image: url(./assets/img/hero-foto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 80%;
}

.brand-logo {
  position: absolute;
  left: 50%;
  bottom: -75px;
  transform: translateX(-50%);
}

.brand-logo img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 12px solid var(--dishes-color);
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
}

.brand-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-top: 72px;
  padding-bottom: 26px;
}

.brand-header h1 {
  font-family: "palanquin dark";
  font-size: 48px;
  font-weight: 700;
  color: var(--bar-color);
}

.brand-header h1 span {
  font-family: "palanquin dark";
  font-size: 48px;
  font-weight: 700;
}

.rating-badge {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: translateY(5px);
  width: 110px;
  height: 32px;
  background-color: #facaac;
  border-radius: 4px;
}

.rating-badge img {
  width: 24px;
  height: 24px;
  padding: 0;
}

.rating-badge data {
  font-size: 20px;
  font-weight: 700;
}

.rating-badge small {
  font-size: 18px;
}

.restaurant-tagline {
  font-size: 24px;
  font-weight: 700;
}

/* #endregion */

/* #region menu */

.ordering-system {
  --basket-width: 435px;
  position: relative;
  width: 100%;
  flex-grow: 1;
}

.menu-selection {
  width: 100%;
}

.category-divider {
  height: 60px;
  width: 100%;
  background-color: var(--bar-color);
}

.category-section {
  width: 100%;
}

.category-content {
  padding-left: var(--content-padding);
  padding-right: calc(var(--content-padding) + var(--basket-width));
}

.category-title-mobile {
  display: none;
}

.menu-content-limit {
  display: flex;
  align-items: center;
  gap: 24px;
  height: 100%;
  padding-left: var(--content-padding);
  margin-left: 168px;
}

.menu-content-limit img {
  bottom: 0px;
  height: 90px;
  width: 90px;
  transform: translateY(-12px);
}

h2 {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
}

.diameter {
  font-weight: 400;
  color: #ffffff;
  margin-left: 18px;
}

.dish-render-target {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 64px;
  gap: 16px;
}

/* #endregion */

/* #region dish cards */

.dish-card {
  display: grid;
  grid-template-columns: 220px 1fr auto;
  align-items: start;
  padding: 10px;
  margin-left: 120px;
  width: 720px;
  border-radius: 12px;
  background-color: var(--dishes-color);
}

.dish-card p {
  line-height: 1;
}

.dish-image {
  width: 200px;
  height: 120px;
  border-radius: 12px;
  object-fit: cover;
}

h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 6px;
  color: var(--first-basket-color);
}

.dish-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
}

.dish-side data {
  font-size: 24px;
  font-weight: 600;
}

.dish-button {
  padding-inline: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

.dish-button:hover {
  color: var(--bar-color);
}

.dish-button-selected {
  color: var(--bar-color);
}

/* #endregion */

/* #region buttons */

.buy-button {
  align-self: center;
  margin-top: 20px;
  width: calc(100% - 24px);
  padding-right: 12px;
  border: none;
  border-radius: 999px;
  background-color: var(--bar-color);
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  cursor: pointer;
}
/* #endregion */

/* #region dialog */

.order-confirmation {
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 35dvh;
  justify-self: center;
  padding: 32px 40px;
  background-color: var(--first-basket-color);
  border-radius: 30px;
  outline: none;
  border: none;
  opacity: 1;
}

.order-confirmation[open] {
  display: flex;
}

.close-dialog-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  background: transparent;
  border: none;
  cursor: pointer;
}

.order-confirmation p {
  font-size: 20px;
  font-weight: 700;
  color: var(--second-basket-color);
}

.order-confirmation h3 {
  padding-bottom: 0;
}

.order-confirmation::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

/* #endregion */

/* #region footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 128px;
  gap: 128px;
  background-color: var(--bar-color);
}

footer p {
  font-size: 18px;
  color: white;
  transform: translateY(-3px);
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* #endregion */

/* #region utility classes */

.d-none {
  display: none;
}

/* #endregion */

/* #region media queries */

@media screen and (max-width: 1440px) {
  .dish-card {
    margin-left: 64px;
    width: 600px;
  }
}

@media screen and (max-width: 1280px) {
  .ordering-system {
    --basket-width: 350px;
  }

  .category-content {
    padding-left: var(--content-padding-small);
    padding-right: calc(var(--content-padding-small) + var(--basket-width));
  }

  /* .basket-area {
    right: var(--content-padding-small);
    width: var(--basket-width);
  } */

  .menu-content-limit {
    padding-left: var(--content-padding-small);
    margin-left: 64px;
  }

  .dish-card {
    margin-left: 0;
    width: 500px;
    grid-template-columns: 140px 1fr auto;
  }

  .dish-image {
    width: 120px;
  }

  h4 {
    font-size: 22px;
    font-weight: 600;
    line-height: 1;
    color: var(--first-basket-color);
  }

  .buy-button {
    font-size: 24px;
  }
}

@media screen and (max-width: 980px) {
  .ordering-system {
    --basket-width: 300px;
  }

  .restaurant-tagline {
    padding-inline: 16px;
    text-align: center;
    font-size: 24px;
    line-height: 1.3;
  }

  .dish-card {
    width: 400px;
    grid-template-columns: 96px 1fr auto;
  }

  .dish-image {
    width: 86px;
  }

  .category-title-desktop {
    display: none;
  }

  .category-title-mobile {
    display: inline;
  }
}

@media screen and (max-width: 768px) {
  body {
    --mobile-nav-height: 72px;
    padding-bottom: var(--mobile-nav-height);
  }

  .burger-menu-icon-mobil {
    display: none;
  }

  .hero {
    padding-inline: 0;
    padding-bottom: 40px;
  }

  .hero-brand-area {
    align-self: stretch;
    height: 343px;
    width: auto;
    margin: 0 16px;
    margin-top: 16px;
    border-radius: 16px;
    background-position: center;
  }

  .brand-logo {
    bottom: -55px;
  }

  .brand-logo img {
    width: 140px;
    height: 140px;
    border-width: 10px;
  }

  .brand-header {
    flex-direction: column-reverse;
    gap: 16px;
    padding-top: 88px;
    padding-bottom: 16px;
  }

  .brand-header h1,
  .brand-header h1 span {
    font-size: 32px;
    line-height: 1;
  }

  .rating-badge {
    transform: none;
    width: auto;
    padding: 4px 10px;
    gap: 6px;
  }

  .restaurant-tagline {
    font-size: 18px;
  }

  .ordering-system {
    display: block;
  }

  .menu-selection {
    width: 100%;
  }

  .category-content {
    padding-left: var(--content-padding-small);
    padding-right: var(--content-padding-small);
  }

  .category-divider {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-content-limit {
    width: 100%;
    margin-left: 0;
    padding-left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 0;
  }

  .dish-render-target {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .menu-content-limit img {
    width: 52px;
    height: 52px;
    transform: translateY(-6px);
  }

  .menu-content-limit h2 {
    font-size: 32px;
    line-height: 1;
    text-align: center;
    transform: translateY(-10px);
  }

  .dish-card {
    grid-template-columns: 1fr;
    width: 100%;
    margin-left: 0;
    padding: 12px;
  }

  .dish-image {
    width: 100%;
    height: 86px;
  }

  .dish-side {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  footer {
    flex-direction: column;
    line-height: 1;
    gap: 6px;
    height: auto;
    padding: 24px 16px;
    text-align: center;
    font-weight: 400;
  }

  footer > p:nth-of-type(1) {
    order: 1;
  }

  footer > p:nth-of-type(2) {
    order: 2;
  }

  .copyright {
    order: 3;
  }
}

/* #endregion */
