/* #region reset */
* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "palanquin";
  color: #363534;
}
/* #endregion */

/* #region base */

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

button {
  cursor: pointer;
  padding: 0;
}

/* #endregion */

/* #region layout */

/* #endregion */

/* #region header */
.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 128px;
  background-color: var(--bar-color);
}

.main-header-content {
  display: flex;
  justify-content: space-between;
  padding-inline: var(--content-padding);
  width: 100%;
}

/* #endregion */

/* #region hero */

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-inline: var(--content-limitation);
  padding-bottom: 78px;
}

.hero-brand-area {
  position: relative;
  height: 432px;
  width: 100%;
  margin: 0px var(--content-limitation);
  background-image: url(./assets/img/hero-foto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 80%;
}

.brand-logo {
  position: absolute;
  left: 50%;
  bottom: -75px;
  transform: translateX(-50%);
}

.brand-logo img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 12px solid var(--dishes-color);
  filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
}

.brand-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding-top: 72px;
  padding-bottom: 26px;
  padding-inline: var(--content-padding);
}

.brand-header h1 {
  font-family: "palanquin dark";
  font-size: 48px;
  font-weight: 700;
  color: var(--bar-color);
}

.brand-header h1 span {
  font-family: "palanquin dark";
  font-size: 48px;
  font-weight: 700;
}

.rating-badge {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: translateY(5px);
  width: 110px;
  height: 32px;
  background-color: #facaac;
  border-radius: 4px;
}

.rating-badge img {
  width: 24px;
  height: 24px;
  padding: 0;
}

.rating-badge data {
  font-size: 20px;
  font-weight: 700;
}

.rating-badge small {
  font-size: 18px;
}

.restaurant-tagline {
  font-size: 24px;
  font-weight: 700;
}

/* #endregion */

/* #region menu */

.ordering-system {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.menu-selection {
  /* padding-left: var(--content-padding); */
  width: calc(100% - 400px - var(--content-padding));
  left: var(--content-padding);
}

.category-divider {
  height: 60px;
  width: 100vw;
  background-color: var(--bar-color);
}

.menu-content-limit {
  display: flex;
  align-items: center;
  gap: 24px;
  height: 100%;
  padding-left: var(--content-padding);
  margin-left: 168px;
}

.menu-content-limit img {
  bottom: 0px;
  height: 90px;
  width: 90px;
  transform: translateY(-12px);
}

h2 {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
}

.diameter {
  font-weight: 400;
  color: #ffffff;
  margin-left: 18px;
}

.dish-render-target {
  display: flex;
  flex-direction: column;
  padding-inline: var(--content-padding);
  padding-top: 32px;
  padding-bottom: 64px;
  gap: 16px;
}

/* #endregion */

/* #region dish cards */

.dish-card {
  display: grid;
  grid-template-columns: 220px 1fr auto;
  align-items: start;
  padding: 10px;
  margin-left: 120px;
  width: 720px;
  border-radius: 12px;
  background-color: var(--dishes-color);
}

.dish-card p {
  line-height: 1;
}

.dish-image {
  width: 200px;
  height: 120px;
  border-radius: 12px;
  object-fit: cover;
}

h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1, 1;
  color: var(--first-basket-color);
}

.dish-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
}

.dish-side data {
  font-size: 24px;
  font-weight: 600;
}

.dish-button {
  padding-inline: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

.dish-button:hover {
  color: var(--bar-color);
}

.dish-button-selected {
  color: var(--bar-color);
}

/* #endregion */

/* #region basket */

.basket-area {
  /* position: relative; */
  /* right: var(--content-padding); */
  width: 435px;
  /* flex-grow: 1; */
}

.order-basket {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--first-basket-color);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 30px;
  padding-top: 50px;
  padding-right: 48px;
}

/* .order-basket p {
  color: #ffffff;
} */

.basket-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-height: 350px;
  overflow-y: auto;
  padding-right: 12px;
  font-size: 22px;
  color: var(--first-basket-color);
  border-radius: 20px;
}

h3 {
  font-size: 32px;
  font-weight: 700;
  color: var(--second-basket-color);
  padding-bottom: 24px;
}

.basket-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--dishes-color);
}

.basket-item-name {
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
}

.basket-item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
}

.basket-item-controls {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 24px;
  font-weight: 600;
}

.basket-item-controls button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  padding: 0;
  font: inherit;
}

.basket-item-title {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}

.basket-item-title button {
  background: transparent;
  border: none;
  /* padding: 0; */
  transform: translateY(4px);
}

.basket-item-price {
  font-size: 20px;
  font-weight: 700;
}

.delete-btn {
  transform: translateY(2px);
}

.delete-btn img {
  display: block;
  width: 16px;
  height: 16px;
}

.delete-btn .delete-icon-hover {
  display: none;
}

.delete-btn:hover .delete-icon {
  display: none;
}

.delete-btn:hover .delete-icon-hover {
  display: block;
}

.empty-basket {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 68px;
}

.empty-basket-text {
  text-align: center;
  font-size: 24px;
  line-height: 1.2;
  color: var(--second-basket-color);
}

.empty-basket-icon {
  width: 128px;
  height: 128px;
  color: var(--second-basket-color);
}

.basket-summary {
  width: 100%;
  padding-right: 12px;
  padding-top: 24px;
}

.basket-summary-table {
  width: 100%;
}

.basket-summary-table th {
  text-align: left;
  font-size: 20px;
  color: #ffffff;
  padding-left: 12px;
}

.basket-summary-table td {
  text-align: right;
  font-size: 20px;
  color: #ffffff;
  padding-right: 12px;
}

.basket-summary-divider-row td {
  padding-left: 0;
  padding-right: 0;
}

.basket-divider {
  height: 3px;
  background-color: #ffffff;
  border-radius: 999px;
}

.basket-list::-webkit-scrollbar {
  width: 4px;
}

.basket-list::-webkit-scrollbar-thumb {
  background-color: var(--dishes-color);
  border-radius: 999px;
}

.basket-list::-webkit-scrollbar-track {
  background: transparent;
}
/* #endregion */

/* #region buttons */

.buy-button {
  align-self: center;
  margin-top: 20px;
  width: calc(100% - 24px);
  padding-right: 12px;
  border: none;
  border-radius: 999px;
  background-color: var(--bar-color);
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  cursor: pointer;
}
/* #endregion */

/* #region dialog */

.order-confirmation {
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 35dvh;
  justify-self: center;
  padding: 32px 40px;
  background-color: var(--first-basket-color);
  border-radius: 30px;
  outline: none;
  border: none;
  opacity: 1;
}

.order-confirmation[open] {
  display: flex;
}

.close-dialog-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  background: transparent;
  border: none;
  cursor: pointer;
}

.order-confirmation p {
  font-size: 20px;
  font-weight: 700;
  color: var(--second-basket-color);
}

.order-confirmation h3 {
  padding-bottom: 0;
}

.order-confirmation::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

/* #endregion */

/* #region footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 128px;
  gap: 128px;
  background-color: var(--bar-color);
}

footer p {
  font-size: 18px;
  color: white;
  transform: translateY(-3px);
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* #endregion */

/* #region utility classes */

.d-none {
  display: none;
}

/* #endregion */

/* #region media queries */

@media screen and (max-width: 1440px) {
  .dish-card {
    margin-left: 64px;
    width: 600px;
  }
}

@media screen and (max-width: 1280px) {
  .menu-selection {
    /* width: calc(100% - 300px - var(--content-padding)); */
    left: var(--content-padding-smal);
  }

  .menu-content-limit {
    padding-left: var(--content-padding-smal);
    margin-left: 64px;
  }

  .dish-card {
    margin-left: 0;
    width: 500px;
    grid-template-columns: 140px 1fr auto;
  } 

  .dish-image {
    width: 120px;
  }

  .basket-area {
    width: 350px;
  }
}

/* #endregion */
