:root {
  --bar-color: #e76c1f;
  --dishes-color: #fdeadc;
  --first-basket-color: #363534;
  --second-basket-color: #fdeadc;
  --content-padding: max(calc(50vw - 720px), 32px);
  --content-padding-menu: max(calc(50vw - 310px), 32px);
  --content-limitation: max(calc(50vw - 720px));
  --content-padding-medium: max(calc(50% - 720px), 48px);
  --content-padding-small: max(calc(50vw - 720px), 24px);
}
